{% extends "base.html" %}

{% block content %}
    <h1>Create Task</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
          {{ form.description.label }}<br>
          {{ form.description(size=32) }}<br>
          {% for error in form.description.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
        {{ form.due.label }}<br>
        {{ form.due(size=32) }}<br>
        {% for error in form.due.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

      </p>
      <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
